<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<link href="/blog/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;

		}
	</style>
	<link href="/blog/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/blog/css/base.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Project name</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		<?php if($flash['success']): ?>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Well done!</strong> <?php echo $flash['success'] ?>
			</div>
		<?php endif; ?>
		<h1>Blog Post Creator</h1>
		<p>Optional description</p>
		<div class="row">
			<div class="span12">
				<form class="form-horizontal" method="post">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="id_title">Title</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="id_title" name="id_title">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="id_content">Content</label>
							<div class="controls">
								<textarea class="input-xlarge" id="id_content" name="id_content" rows="6"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="id_tags">Tags</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="id_tags" name="id_tags">
								<p class="help-block">* Comma separated</p>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="/blog/js/bootstrap.js"></script>
	<script src="/blog/js/application.js"></script>
</body>
</html>